* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto-Regular,'Helvetica Neue',Helvetica,Tahoma,Arial,Sans-serif;
    background-color: #f5f5f5;
}

.container {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.black {
    color: #0f1568;
}

.gray {
    color: #a6a6a7;
}

.fixed01 {
    position: fixed;
    top: 0;
}

.ul01 {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    line-height: 25px;
    text-transform: uppercase;
    background-color: #f7f7f7;
}

.li01 {
    margin-left: 20px;
}

.a01:hover {
    color: orange;
}

.logo-bar {
    width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: white;    
}

.logo, .cart {
    height: 40px;
}

.enfamilk-img {
    height: 45px;
}

.search-bar {
    display: flex;
}

.search {
    display: block;
    border: 0;
    background-color: #eff0f5;
    width: 540px;
    height: 45px;
    text-indent: 20px;
}

.search-btn {
    display: block;
    width: 45px;
    height: 45px;
    background-color: #f57224;
    border: none;
}

.search-img {
    width: 50%;
}

.nav-menu {
    margin-top: 120px;
    margin-bottom: 50px;
}

ul.menu {
    border: 1px solid #f7f7f7;
    width: 190px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.menu-link {
    width: 190px;
    display: block;
    padding: 5px;
    font-size: 13px;
    line-height: 18px;
    text-transform: capitalize;
    white-space: nowrap;
}

.menu-link:hover {
    color: #f57224;
    background-color: #eff0f5;
}

ul.menu2 {
    background-color: white;
    width: 240px;
    height: 336px;
    border: 1px solid #f7f7f7;
    display: none;
    position: absolute;
    left: 190px;
    top: 0;
}

.menu-link2 {
    display: block;
    padding: 5px;
    font-size: 13px;
    line-height: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.menu-link2:hover {
    color: #f57224;
    background-color: #eff0f5; 
}

.menu-item:hover > .menu-link {
    color: #f57224;
    background-color: #eff0f5;
}

.menu-item:hover > .menu2 {
    display: block;
}

ul.menu3 {
    background-color: white;
    border: 1px solid #f7f7f7;
    height: 336px;
    display: none;
    position: absolute;
    left: 240px;
    top: 0;
}

.menu-link3 {
    display: block;
    padding: 5px;
    font-size: 13px;
    line-height: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.menu-link3:hover {
    color: #f57224;
    background-color: #eff0f5; 
}

.menu-item2:hover > .menu-link2 {
    color: #f57224;
    background-color: #eff0f5;
}

.menu-item2:hover > .menu3 {
    display: block;
}

.nav-menu {
    display: flex;
}

.big-banner {
    height: 336px;
}

.branch-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 1080px;
    margin-top: 5px;
    margin-bottom: 50px;
}

.branch-list figure {
    width: 133px;
    height: 130px;
    text-align: center;
    border: 1px solid #f7f7f7;
    margin-bottom: 2px;
    background-color: white;
}

figure:hover {
    box-shadow: -1px 1px 10px rgb(207, 193, 193);
}

.branch {
    width: 80px;
    height: 80px;
}


.product-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5px;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 175px;
    height: 280px;
    margin-bottom: 2px;
    background-color: white;
}

.small {
    font-size: 12px;
    line-height: 14px;
}

.line-thr {
    text-decoration: line-through;
}

.red {
    color: red;
}

.place {
    align-self: flex-end;
}

.product-name {
    font-size: 14px;
    text-transform: capitalize;
}

.product-img {
    height: 175px;
}

.product:hover {
    box-shadow: -1px 1px 10px rgb(207, 193, 193);
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    height: 150px;
}

.btn-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    flex-wrap: wrap;
    left: 0;
    bottom: 5%;
    width: 32px;
}

.btn {
    height: 30px;
    width: 30px;
    border: 1px solid white;
    position: relative;
}

.btn:hover {
    background-color: orange;
}

.btn-sub {
    display: none;
    height: 30px;
    width: 150px;
    text-align: center;
    border: 1px solid white;
    position: absolute;
    left: 100%;
    bottom: 0;
}

.btn:hover > .btn-sub {
    display: block;
    color: orange;
    background-color: #eff0f5;
}