img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

ul {
    list-style: none;
    padding-left: 0;
}

@font-face {
    font-family: Sofia Pro Bold;
    src: url(../fonts/Sofia\ Pro\ Bold.otf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: Sofia Pro Regular;
    src: url(../fonts/Sofia\ Pro\ Regular.otf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Circular Std Regular;
    src: url(../fonts/Circular\ Std\ Regular.woff2);
    font-style: normal;
    font-weight: 400;
}

@media (min-width: 1500px) {
    .container-fluid {
        max-width: 1500px;
    }
}

.sidebar {
    padding-top: 30px;
    min-height: 900px;
    max-height: 100vh;
}

.page-logo {
    max-width: 100px;
    margin-bottom: 50px;
}

.explore-heading {
    font-family: "Sofia Pro Bold";
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    margin-bottom: 40px;
}

.category-item {
    margin-bottom: 25px;
}

.category-link,
.help-link {
    text-decoration: none;
    color: #000;
    font-family: "Sofia Pro Regular";
    font-size: 17px;
    line-height: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.category-icon {
    width: 24px;
    margin-right: 12px;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #f6f6f6;
    border-radius: 50%;
    margin-right: 16px;
}

.help-icon {
    width: 24px;
}

.btn-search {
    padding-left: 0;
    padding-right: 0;
    border: 0;
}

.btn-search:hover {
    background-color: transparent;
}

.btn-search:focus,
.btn-search:active,
.search-input:focus {
    box-shadow: none !important;
}

.search-input {
    border: 0;
}

.search-input::placeholder {
    color: rgba(0, 0, 0, 0.2);
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 20px;
    margin-bottom: 40px;
}

.nav-item {
    margin-left: 40px;
}

.nav-link {
    font-family: Circular Std Regular;
    font-weight: 400;
    font-style: normal;
    color: #000 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.nav-link.active {
    border-bottom: 2px solid #000;
}

.custom-gutter {
    --bs-gutter-x: 22px;
    --bs-gutter-y: 22px;
}