:root {
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Kaushan Script", cursive;
    --bs-font-sans-serif: Roboto, system-ui, -apple-system, "Segoe UI",
        "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

body {
    padding: 0;
    margin: 0;
    color: #999999;
    font-size: 15px;
    line-height: 1.6;
    font-variant: normal;
    letter-spacing: normal;
}

.container {
    padding: 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.banner {
    background-image: linear-gradient(
            0deg,
            rgba(252, 227, 138, 0.5) 0%,
            rgba(243, 129, 129, 0.5) 100%
        ),
        url(../img/picture.png);
}

.header {
    margin-bottom: 150px;
}

.navbar-light .navbar-brand {
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1;
    color: rgb(255, 255, 255);
    padding: 20px 0;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    font-family: var(--primary-font);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #fce38a;
}

.banner-sub-heading {
    font-size: 72px;
    font-family: var(--secondary-font);
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
}

.banner-heading {
    font-size: 150px;
    font-family: var(--primary-font);
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.933;
    text-align: center;
    margin-bottom: 60px;
}

.dashed {
    background-color: rgb(255, 255, 255);
    width: 60px;
    height: 3px !important;
    opacity: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.rose {
    background-color: #f38181;
}

.btn-learn-more {
    font-size: 14px;
    font-family: var(--primary-font);
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    padding: 10px 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}

.carousel-indicators {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 0;
    margin-bottom: 1rem;
    margin-left: 0;
    list-style: none;
}

.carousel-indicators .indicator {
    box-sizing: border-box;
    flex: 1 1 auto;
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    cursor: pointer;
    text-indent: 0;
    background-color: transparent;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 1;
    transition: opacity 0.6s ease;
}

.carousel-indicators .indicator:not(:last-child) {
    margin-right: 30px;
}

.indicator .timmer {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 20px;
    position: relative;
}

/* Pseudo Element */
.indicator .timmer::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: #f38181;
}

.indicator.active .timmer::after {
    width: 100%;
    transition: width 3s;
}

.indicator .slide-number {
    font-size: 24px;
    font-family: var(--primary-font);
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
}

.indicator .text {
    font-size: 18px;
    font-family: var(--primary-font);
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    line-height: 1.2;
}

.about {
    margin-top: 90px;
}

.sub-heading {
    font-family: var(--secondary-font);
    font-size: 24px;
    color: #333333;
}

.heading {
    font-size: 30px;
    font-family: var(--primary-font);
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
}

.about .container {
    margin-top: 90px;
}

.about-img {
    height: 250px;
    width: 380px;
    background-color: #95e1d3;
}

.img1 {
    background-image: url(../img/about1@1.25x.png);
    height: 250px;
    width: 380px;
    transition: .5s;
}

.img2 {
    background-image: url(../img/about2@1.25x.png);
    height: 250px;
    width: 380px;
    transition: .5s;
}

.img3 {
    background-image: url(../img/about3@1.25x.png);
    height: 250px;
    width: 380px;
    transition: .5s;
}

.team-user {
    vertical-align: middle;
    padding-top: 105px;
}

.team-text {
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
}

.superteam {
    opacity: 0;
}

.about-img:hover .img1 {
    background-image: linear-gradient(
            0deg,
            rgba(252, 227, 138, 0.5) 0%,
            rgba(243, 129, 129, 0.5) 100%
        ),
        url(../img/about1@1.25x.png);
    transform: translate(-10px, -10px);
}

.about-img:hover .img2 {
    background-image: linear-gradient(
            0deg,
            rgba(252, 227, 138, 0.5) 0%,
            rgba(243, 129, 129, 0.5) 100%
        ),
        url(../img/about2@1.25x.png);
    transform: translate(-10px, -10px);
}

.about-img:hover .img3 {
    background-image: linear-gradient(
            0deg,
            rgba(252, 227, 138, 0.5) 0%,
            rgba(243, 129, 129, 0.5) 100%
        ),
        url(../img/about3@1.25x.png);
    transform: translate(-10px, -10px);
}

.about-img:hover .superteam {
    opacity: 1;
}

.fact {
    margin-top: 110px;
    background-color: #95e1d3;
}

.fact-table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.fact-table td {
    width: 20%;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.fact-number {
    margin-top: 90px;
    font-family: var(--primary-font);
    font-size: 72px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
}

.fact-text {
    font-size: 14px;
    font-family: var(--primary-font);
    color: #ffffff;
    line-height: 1;
    padding-bottom: 90px;
    margin: 0;
}
  
.service {
    padding-top: 110px;
}

.service-img {
    width: 32px;
    height: 32px;
}

.service-item {
    padding: 50px 0;
}

.feauture {
    margin-top: 50px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/feauturebackground@1.25x.png);
    position: relative;
}

.feauture .sub-heading {
    padding-top: 100px;
}

.feauture-img2 {
    position: absolute;
    bottom: -11%;
    right: 25%;
}

.service2 {
    margin-top: 110px;
}

.service-2-img {
    width: 100%;
}

.service2 .container {
    margin-top: 95px;
} 

.service-heading {
    font-family: var(--primary-font);
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
    color: #999999;
}

.quote {
    margin-top: 120px;
    background-color: #f8f8f8;
}

.quote .container {
    padding: 70px 0 30px;
    position: relative;
}

.quote-img {
    height: 150px;
    width: 150px;
    border: 1px solid #95e1d3;
    line-height: 150px;
    /* transform: translateX(120px); */
}

.quote-text {
    font-family: var(--bs-font-sans-serif);
    font-size: 24px;
    font-style: italic;
}

.right {
    position: absolute;
    top: 50%;
    right: 2%;
}

.left {
    position: absolute;
    top: 50%;
    left: 2%;
}
  
.w940 {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.our-team {
    margin-top: 100px;
}

.our-team .container {
    margin-top: 95px;
}

.our-img {
    height: 470px;
    width: 380px;
    background-color: #95e1d3;
    position: relative;
}

.our-img1 {
    background-image: url(../img/ourteam1@1.25x.png);
    height: 470px;
    width: 380px;
    transition: .5s;
    position: relative;
}

.our-img2 {
    background-image: url(../img/ourteam2@1.25x.png);
    height: 470px;
    width: 380px;
    transition: .5s;
    position: relative;
}

.our-img3 {
    background-image: url(../img/ourteam3@1.25x.png);
    height: 470px;
    width: 380px;
    transition: .5s;
    position: relative;
}

.icon {
    height: 56px;
    width: 56px;
    background-color: rgb(252, 227, 138);
    color: rgb(243, 129, 129);
    line-height: 56px;
    font-size: 28px;
    border: rgb(243, 129, 129) solid .5px;
    opacity: 0;
}

.media-icon {
    position: absolute;
    top: 50%;
    left: 20%;
}

.our-img:hover .our-img1 {
    background-image: linear-gradient(
            0deg,
            rgba(252, 227, 138, 0.5) 0%,
            rgba(243, 129, 129, 0.5) 100%
        ),
        url(../img/ourteam1@1.25x.png);
    transform: translate(-10px, -10px);
}

.our-img:hover .our-img2 {
    background-image: linear-gradient(
            0deg,
            rgba(252, 227, 138, 0.5) 0%,
            rgba(243, 129, 129, 0.5) 100%
        ),
        url(../img/ourteam2@1.25x.png);
    transform: translate(-10px, -10px);
}

.our-img:hover .our-img3 {
    background-image: linear-gradient(
            0deg,
            rgba(252, 227, 138, 0.5) 0%,
            rgba(243, 129, 129, 0.5) 100%
        ),
        url(../img/ourteam3@1.25x.png);
    transform: translate(-10px, -10px);
}

.icon:hover {
    color: rgb(252, 227, 138);
    background-color: rgb(243, 129, 129);
}

.our-img:hover .icon {
    opacity: 1;
}

.caption {
    position: absolute;
    bottom: -30%;
}

.logo {
    margin-top: 190px;
    background-color: #f8f8f8;
    height: 250px;
    position: relative;
}

.logos {
    max-width: 1179px;
}

.work {
    margin-top: 110px;
}

.work-container {
    margin-top: 105px;
}

.work-img1 {
    background-image: url(../img/work1@1.25x.png);
    width: 480px;
    height: 390px;
    position: relative;
}

.work-img2 {
    background-image: url(../img/work2@1.25x.png);
    width: 480px;
    height: 390px;
    position: relative;
}

.work-img3 {
    background-image: url(../img/work3@1.25x.png);
    width: 480px;
    height: 390px;
    position: relative;
}

.work-img4 {
    background-image: url(../img/work4@1.25x.png);
    width: 480px;
    height: 390px;
    position: relative;
}

.work-img5 {
    background-image: url(../img/work5@1.25x.png);
    width: 480px;
    height: 780px;
    position: relative;
}

.work-img6 {
    background-image: url(../img/work6@1.25x.png);
    width: 480px;
    height: 390px;
    position: relative;
}

.work-img7 {
    background-image: url(../img/work7@1.25x.png);
    width: 480px;
    height: 390px;
    position: relative;
}

.work-container .col-3 {
    padding: 0;
    margin: 0;
}

.info {
    opacity: 0;
    color: #ffffff;
}

.work-img1:hover {
    background-image: linear-gradient(
            0deg,
            rgba(252, 227, 138, 0.5) 0%,
            rgba(243, 129, 129, 0.5) 100%
        ), url(../img/work1@1.25x.png);
}

.work-img2:hover {
    background-image: linear-gradient(
            0deg,
            rgba(252, 227, 138, 0.5) 0%,
            rgba(243, 129, 129, 0.5) 100%
        ), url(../img/work2@1.25x.png);
}

.work-img3:hover {
    background-image: linear-gradient(
            0deg,
            rgba(252, 227, 138, 0.5) 0%,
            rgba(243, 129, 129, 0.5) 100%
        ), url(../img/work3@1.25x.png);
}

.work-img4:hover {
    background-image: linear-gradient(
            0deg,
            rgba(252, 227, 138, 0.5) 0%,
            rgba(243, 129, 129, 0.5) 100%
        ), url(../img/work4@1.25x.png);
}

.work-img5:hover {
    background-image: linear-gradient(
            0deg,
            rgba(252, 227, 138, 0.5) 0%,
            rgba(243, 129, 129, 0.5) 100%
        ), url(../img/work5@1.25x.png);
}

.work-img6:hover {
    background-image: linear-gradient(
            0deg,
            rgba(252, 227, 138, 0.5) 0%,
            rgba(243, 129, 129, 0.5) 100%
        ), url(../img/work6@1.25x.png);
}

.work-img7:hover {
    background-image: linear-gradient(
            0deg,
            rgba(252, 227, 138, 0.5) 0%,
            rgba(243, 129, 129, 0.5) 100%
        ), url(../img/work7@1.25x.png);
}

.work-img1:hover .info, .work-img2:hover .info, .work-img3:hover .info, .work-img4:hover .info, .work-img5:hover .info, .work-img6:hover .info, .work-img7:hover .info {
    opacity: 1;
}

.testimonial {
    margin-top: 100px;
}

.testimonial .container {
    position: relative;
}

.testimonial1 {
    height: 210px;
    width: 210px;
}

.people {
    margin-top: 130px;
    background-image: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(../img/peoplebackground@1.25x.png);
    max-width: 100%;
}

.people .sub-heading {
    padding-top: 110px;
}

.people .container {
    padding-top: 85px;    
}

.portrait {
    height: 110px;
    width: 110px;
}

.people .container .dashed {
    margin-left: 0;
}

.people .col-lg-6 {
    margin-bottom: 50px;
}

.blog {
    margin-top: 110px;
}

.blog .container {
    margin-top: 50px;
}

.blog-img {
    position: relative;
}

.tim {
    background-color: rgb(149, 225, 211);
    position: absolute;
    width: 60px;
    bottom: 10%;
    left: -2%;
}

.tim span {
    font-size: 30px;
    font-family: var(--primary-font);
    color: rgb(255, 255, 255);
    font-weight: bold;
}
  
.tim p {
    font-family: var(--primary-font);
    font-style: italic;
    color: #ffffff;
}

.blog1 {
    width: 380px;
    height: 240px;
}

.map {
    margin-top: 110px;
    background-image: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(../img/map@1.25x.png);
    width: 100%;
}

.open-map {
    padding: 50px 0 1px;
}

.red {
    color: #f38181;
}



@media screen and (max-width: 989px) {
    .about .container .d-flex {
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1139px) {
    .d-flex .our-img:not(:last-child) {
        margin-bottom: 130px;
    }
    
    .d-flex .about-img:not(:last-child) {
        margin-right: 0;
        margin-bottom: 30px;
    }
}