* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.j-space-between {
    justify-content: space-around;
}

.j-center {
    justify-content: center;
}

.a-center {
    align-items: center;
}

.header {
    text-align: center;
    background-color: azure;
    padding: 10px;
}

.nav {
    background-color: #666666;
}

.menu-list {
    list-style: none;
}

.menu-list .menu-item {
    padding: 10px 0px 10px 0px;
    margin-right: 20px;
}

.link {
    text-decoration: none;
    color: white;
}

.main {
    width: 75%;
}

.aside {
    width: 25%;
}

.logo {
    height: 68px;
}

.post {
    border: 1px solid #c29c4a;
    padding: 0 1.5rem 0 1.5rem;
    border-radius: 1.25rem;
    overflow: visible;
}

.tu-truyen {
    border: solid 1px black;
    border-radius: 5px;
}

.h2 {
    text-transform: capitalize;
    font-size: .9375rem;
}

.footer {
    background-color: indianred;
    text-align: center;
    padding: 10px;
}

.special {
    font-family: cursive;
    font-size: 25px;
    font-weight: bold;
}

.info {
    margin: 20px 0 0 20px;
}

.ibold {
    font-style: italic;
    font-weight: bold;
}

.product {
    width: 49%;
}

.column {
    flex-direction: column;
}

.nowrap {
    flex-wrap: nowrap;
}

.link2 {
    text-decoration: none;
    color: black;
}

.flex.nowrap {
    margin: 10px 0 10px 0;
}

.b-black {
    padding: 5px;
    border: black 1px solid;
    border-radius: 20px;
    margin-right: 10px;
}

.b-red {
    padding: 5px;
    color: red;
    border: red 1px solid;
    border-radius: 20px;
    margin-right: 10px;
}

.b-tan {
    padding: 5px;
    color: tan;
    border: tan 1px solid;
    border-radius: 20px;
}

table {
    margin-top: 10px;
}

th, td {
    padding: 5px;
}

.back-red {
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 20px;
    margin-right: 10px;
}
