.gx-10 {
    --bs-gutter-x: 10px;
}

.gy-10 {
    --bs-gutter-y: 10px;
}

header {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}



.text-center {
    text-align: center;
}

.logo {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.logo:hover {
    color: black;
}

.search {
    border-radius: 20px;
    width: 100%;
}

.search-form {
    position: relative;
}

.ti-search {
    position: absolute;
    top: 25%;
    left: 5%;
}

.menubtn, .closebtn, .dropdownbtn {
    border: none;
    background-color: white;
}

.sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: white;
    border-left: rgb(224, 206, 206) 1px solid;
    line-height: 20px;
    font-size: 10px;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 50px;
}

.sidenav a {
    text-decoration: none;
    color: black;
}
  
a.actived, .sidenav a:hover {
    color: orange;
    background-color: white;
}

.portrait {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
  
.thumbail {
    width: 100%;
    border-radius: 5px;
}

.production {
    font-size: 14px;
}

.contact {
    background-color: #f8f9fa;
}

.email {
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    border: .5px solid gray;
}

.subscribe {
    width: 80%;
    height: 50px;
    border: none;
    background-color: orange;
    color: white;
    font-weight: bolder;
    border-radius: 25px;
}

.subscribe:hover {
    color: orange;
    background-color: white;
    box-shadow: rgb(173, 167, 167) 0 2px 5px;
}

.ending {
    line-height: 40px;
}
  
.icon {
    height: 40px;
    width: 40px;
    margin: 5px;
    background-color: rgb(204, 201, 201);
    border-radius: 3px;
    border: none;
}
  
.icon:hover {
    background-color: orange;
    color: white;
}
  
.ti-heart {
    color: red;
}

@media screen and (min-width: 768px) {
    .sidenav {
        font-size: 20px;
        line-height: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .information {
        padding-top: 3%;
    }
}